header {
	background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
html {
    position: relative;
    min-height: 100%;
}
body {
    margin: 0 0 150px;
}

footer {
    position: absolute;
    left: 0;
    bottom: 0;
	width: 100%;
	text-align: center;
	height: 75px;
}